    @font-face {
        font-family: Poppins-SemiBold;
        src: url(../fonts/Poppins-SemiBold.ttf);
    }

    @font-face {
        font-family: Archivo-Bold;
        src: url(../fonts/Archivo-Bold.ttf);
    }

    @font-face {
        font-family: Nunito-Regular;
        src: url(../fonts/Nunito-Regular.ttf)
    }

    @font-face {
        font-family: Montserrat-Regular;
        src: url(../fonts/Montserrat-Regular.ttf)
    }

    @font-face {
        font-family: Montserrat-Bold;
        src: url(../fonts/Montserrat-Bold.ttf);
    }

    * {
        margin: 0px;
        padding: 0px;
        box-sizing: border-box;
    }

    .uniPadding {
        padding: 0px 5%;
    }       
    #calculatorSection{
        border: 2px solid red;

    }

    #button{
        border: 2px solid green;
        display: grid;
        grid-template-rows: repeat(5, minmax(50px, 50px));
        grid-template-columns: repeat(4, minmax(50px, 50px));
        justify-content: center;
        align-content: center;
        padding: 50px;
        text-align: center;
        font-weight: bold;
        grid-gap: 5px;
    }
    #result{
        grid-column: 1/4;
    }
    #clearBtn{
        background-color: red;
    }

    